/* ============================================

  Contribution Graph - style.scss              

-------------------------------------------- */

/* -----[ fonts ]----- */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* -----[ base ]----- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	line-height: normal;
}

body {
	font-family: 'Inter', sans-serif;
	color: #959494;
}

ul {
	list-style: none;
}
