/* ============================================
   Contribution Graph - style.scss              
============================================ */

/* -----[ Colors ]----- */
:root {
	--background-color: #ededed;
	--hover-outline-color: rgba(0, 0, 0, 0.5);
	--text-color: #7c7c7c;
	--lvl1: #acd5f2;
	--lvl2: #7fa8c9;
	--lvl3: #527ba0;
	--lvl4: #254e77;
}

/* -----[ Fonts ]----- */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* -----[ Base Styles ]----- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	line-height: normal;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--text-color);
}

ul {
	list-style: none;
	text-transform: capitalize;
	color: var(--text-color);
}
